.logo {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  .page__footer {
    display: block;
  }
}

.logo__part {
  color: var(--accent-color);
}
.logo__part2 {
  color: var(--text-white-color);
}
