.subscription {
  margin-left: auto;
  padding-top: 12px;
}

.subscription__line {
  display: flex;
  align-items: center;
}

.submit__button {
  position: relative;

  width: 200px;
  height: 50px;

  color: var(--text-white-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.05em;

  border-radius: 4px;
  border: none;
  padding: 10px 62px 10px 29px;
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.form-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;

  padding-left: 16px;

  font-size: 14px;
  color: #c4c4c4;

  background-color: rgba(47, 48, 58, 1);
  border-radius: 4px;
  border: solid 1px rgba(255, 255, 255, 0.3);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &::placeholder {
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.subscription__title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.icon-send {
  position: absolute;
  top: 13px;
  left: 148px;
}
