:root {
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-white-color: #ffffff;
  --primary-text-color: #757575;
  --primary-bg-color: #e5e5e5;
  --button-bg-color: #f5f4fa;
  --black-bg-color: #2f303a;
  --contact-color: rgba(255, 255, 255, 0.6);
  --main-svg-color: rgba(175, 177, 184, 1);
  --accent-svg-color: * /;
}
